{% extends 'base.html' %} 
{% block content %} 

<main>
    <h1>My Shopping List</h1>
    <div>
        <form method="post" action="{% url 'shopping_list_delete' %}">
            {% csrf_token %} 
            {{ form.as_p }}
            <button class="button">Delete all</button>
        </form>
    </div>
    <ul>
        {% comment %} 
        {% if shopping_list > 0 %}
        {% endcomment %} 
        
        {% for item in shopping_list %}
        <div class="recipe-card">
            <h2 class='recipe-card-title'></h2>
            <a href="{% url 'shopping_list' %}">{{ item.food_item }}</a>
        </div>
        {% endfor %} 
        {% comment %} {% else %} 
        {% endif %} {% endcomment %}
    </ul>
</main>

{% endblock content %}