{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <form method="post" action="{% url 'delete_all_shopping_items' %}">
        {% csrf_token %}
        <button class="button">Delete all</button>
      </form>
    </div>
    <h1>Your shopping list</h1>
    <ul>
      {% for item in shopping_item_list %}
        <li>{{ item.food_item }}</li>
      {% endfor %}
    </ul>
  </main>
{% endblock content %}