{% extends 'base.html' %} 
{% load markdownify %}

{% block content %} 
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plans_edit' meal_plan.pk %}">Edit meal plan</a>
        <a href="{% url 'meal_plans_delete' meal_plan.pk">Delete meal plan</a>
    </div>
    
    <h1>{{ plan.name }}</h1>
    <h2>by: {{ meal_plan.owner | default_if_none:"Unknown" }}</h2>
        {% for recipe in meal_plan.recipes.all %}
    <p>
        <a href="{ url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        <div>
        Created on {{ meal_plan.created }} |
        Updated on {{ meal_plan.updated }}
        </div>
    </p>
        {% endfor %}
    

</main>
{% endblock content %}