{% extends 'base.html' %}


{% block content %}
<div>
    <a href="{% url 'meal_plans_create' %}">Create a Meal Plan</a>
</div>
<main class="recipe-grid">
    {% for plan in meal_plans %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'meal_plans_detail' plan.id %}">{{ plan.name }}</a>
        </h2>
        {% for recipe in plan.recipes.all %} 
            <p> {{ recipe.name }} </p>
        {% endfor %} 
        <p class="recipe-card-date">{{ mealplan.updated }}</p>
    </div>
    {% endfor %}
</main>
{% endblock content %}