{% extends 'base.html' %}

{% block content %} 

<main class="recipe-grid">
    <nav>
        <div>
            <a href="{% url 'meal_plans_list' %}">View Meal Plans</a>
        </div> 
        <div>
            <a href="{% url 'meal_plans_create' %}">Create a Meal Plan</a>
        </div>   
        {% for mealplan in mealplans_list %} 
        <div class="recipe-card">
            <h2 class="recipe-card-title">
                <a href="{% url 'meal_plans_list' mealplan.pk %}">{{ mealplan.name }}</a>
            </h2>
            <p class="meaplan-card-date"> {{ mealplan.updated }}</p>
        </div>
        {% endfor %}
    </nav>

</main> 


{% endblock content %}

